<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'gbdb/css/style.css' %}" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'gbdb/scripts/jquery-1.10.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'gbdb/scripts/commonFunctions.js' %}"></script>
    <script type="text/javascript" src="{% static 'gbdb/scripts/underscore-min.js' %}"></script>
    {% include 'autocomplete_light/static.html' %}
{% block extrahead %}{% endblock %}
</head>
<body>
    <div id='savingMsg' style='display: none;'>Saving, please wait...<img src="{% static 'gbdb/images/loading.gif' %}"/></div>
    <div id='savingOver' style='display: none;'></div>
    <table style="width:100%" cellpadding=0 cellspacing=0>
        <tr>
            {% if not ispopup %}
                <td><h1><a href="/gbdb/" STYLE="TEXT-DECORATION: NONE"><font color="000000">GBDB</font></a></h1></td>
            {% endif %}
            <td align=left>
                <div id="user_info">
                    {% if user.is_authenticated and not user.is_anonymous  %}
                        Hi, {{ user.username }} [<a href="/accounts/logout">Logout</a>]&nbsp;
                    {% else %}
                        <a href="/accounts/login">Login</a> or <a href="/accounts/register">Register</a>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
    {% if not ispopup %}
        <div id="list">
            <div id="sidebar">
                <div style="background:#ffffff;border:0;">
                    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
                </div>
                <table>
                    <tr>
                        <h2>Observation Sessions</h2>
                        <ul>
                            {% if user.is_authenticated and not user.is_anonymous %}
                                <li><a href="/gbdb/observation_session/new/">Insert</a></li>
                                <li><a href="/gbdb/observation_session/search/">Search</a></li>
                            {% endif %}
                        </ul>
                    </tr>
                    <tr>
                        <h2>Behavioral Events</h2>
                        <ul>
                            {% if user.is_authenticated and not user.is_anonymous %}
                                <li><a href="/gbdb/behavioral_event/search/">Search</a></li>
                            {% endif %}
                        </ul>
                    </tr>
                    <tr>
                        <h2>Primates</h2>
                        <ul>
                            {% if user.is_authenticated and not user.is_anonymous %}
                                <li><a href="/gbdb/primate/new/">Insert</a></li>
                                <li><a href="/gbdb/primate/search/">Search</a></li>
                            {% endif %}
                        </ul>
                    </tr>
                    <tr>
                        <h2>Gestures</h2>
                        <ul>
                            {% if user.is_authenticated and not user.is_anonymous %}
                                <li><a href="/gbdb/gesture/new/">Insert</a></li>
                                <li><a href="/gbdb/gesture/search/">Search</a></li>
                            {% endif %}
                        </ul>
                    </tr>
                    <tr>
                        <h2>Admin</h2>
                        <ul>
                            {% if user.is_authenticated and not user.is_anonymous %}
                                <li><a href="/gbdb/admin/">Groups</a></li>
                            {% endif %}
                        </ul>
                    </tr>
               </table>
               <div style="background:#ffffff;border:0">
                    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
               </div>
            </div>
	    </div>
    {% endif %}
	<div {% if not ispopup %}id="content"{% endif %}>
        {% block content%}{%endblock%}
    </div>
</body>
</html>