{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>GBDB - View Primate</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        {% if ispopup %}
            opener.addPrimate({{ object.id }}, '{{ object.name }}');
            self.close()
        {% endif %}

        function deletePrimate()
        {
            if(confirm('This will delete this Primate as well as all links to it from other entries. Do you really want to delete the current Primate?'))
            {
                var data={'csrfmiddlewaretoken': '{{ csrf_token }}'};
                var args={type:"POST", url:"/gbdb/primate/{{ object.id }}/delete/", data: data, complete: doneDelete };
                $.ajax(args);
            }
        }

        function doneDelete()
        {
            document.location.href='/gbdb/';
        }

        function initialize() {
            var map = new google.maps.Map(
                    document.getElementById('map-canvas'), {
                        center: new google.maps.LatLng({{ object.location.latitude }}, {{ object.location.longitude }}),
                        zoom: 13,
                        mapTypeId: google.maps.MapTypeId.HYBRID
                    });

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ object.location.latitude }}, {{ object.location.longitude }}),
                map: map,
                title: '{{ object.location_name }}'
            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}
{% block content %}
    <div id="detail">
        <h2>Primate</h2>
        <table class="tab_panel">
            <tr valign="top">
                <td colspan="2"><strong>Name:</strong> {{ object.name }}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Species:</strong> {{ object.species }}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Birth Date:</strong> {{ object.birth_date }}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Location name:</strong> {{ object.location_name }}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Location:</strong></td>
            </tr>
            <tr valign="top">
                <td colspan="2">
                    <div id="map-canvas" style="height:600px"></div>
                </td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Habitat:</strong> {{ object.habitat }}</td>
            </tr>
        </table>

        <input type="button" value="Edit" onclick="document.location.href='/gbdb/primate/{{object.id}}/edit/';"/>&nbsp;
        <input type="button" value="Delete" onclick="deletePrimate()"/>&nbsp;
    </div>
{% endblock %}
