{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>GBDB - View Gestural Sub-Event</title>
    <script type="text/javascript">

        function deleteGesturalEvent()
        {
            if(confirm('This will delete this Gestural Event as well as all links to it from other entries. Do you really want to delete the current Gestural Event?'))
            {
                var data={'csrfmiddlewaretoken': '{{ csrf_token }}'};
                var args={type:"POST", url:"/gbdb/gestural_event/{{ object.id }}/delete/", data: data, complete: doneDelete };
                $.ajax(args);
            }
        }

        function doneDelete()
        {
            document.location.href='/gbdb/';
        }

    </script>
{% endblock %}
{% block content %}
    <div id="detail">
        <h2>Gestural Sub-Event</h2>
        <table class="tab_panel">
            <tr valign="top">
                <td colspan="2"><strong>Start time:</strong> {{ object.start_time.hour }}:{{ object.start_time.minute }}:{{ object.start_time.second }}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Duration:</strong> {{ object.duration }}</td>
            </tr>
            <tr valign="top">
                <td colspan="2">
                    <video width="320" height="240" controls>
                        <source src="{{ video_url_mp4 }}" type="video/mp4">
                        <source src="{{ video_url_ogg }}" type="video/ogg">
                        <object data="{{ video_url_mp4 }}" width="320" height="240">
                            <embed src="{{ video_url_swf }}" width="320" height="240">
                        </object>
                    </video>
                </td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Contexts:</strong> {% for context in object.contexts.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ context.name }}{% endfor %}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Ethograms:</strong> {% for ethogram in object.ethograms.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ ethogram.name }}{% endfor %}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Signaller:</strong> <a href="/gbdb/primate/{{ object.signaller.id }}/">{{ object.signaller }}</a></td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Recipient:</strong> <a href="/gbdb/primate/{{ object.recipient.id }}/">{{ object.recipient }}</a></td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Gesture:</strong> <a href="/gbdb/gesture/{{ object.gesture.id }}/">{{ object.gesture }}</a></td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Recipient response:</strong> {{ object.recipient_response }}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Goal met:</strong> {{ object.goal_met }}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Notes:</strong> {{ object.notes }}</td>
            </tr>
        </table>
        {% if user == object.observation_session.collator %}
            <input type="button" value="Edit" onclick="document.location.href='/gbdb/gestural_event/{{object.id}}/edit/';"/>&nbsp;
            <input type="button" value="Delete" onclick="deleteGesturalEvent()"/>&nbsp;
        {% endif %}
    </div>
{% endblock %}
