{% extends "base_generic.html" %}
{% block extrahead %}
    <title>BODB - Password Reset</title>
{% endblock %}
{% block content %}
    <div id="detail">
        <form method="post" action=".">
            {% csrf_token %}
            <table class="tab_panel">
                <tr>
                    <td colspan="2">
                        Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
                    </td>
                </tr>
                <tr>
                    <td width="100">
                        <label for="id_email">Email:</label>
                    </td>
                    <td>
                        {{ form.email }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="myerrors">
                            {{ form.email.errors }}
                        </div>
                    </td>
                </tr>
            </table>

            <input class="btn" type="submit" value="Reset Password" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'"/>
        </form>
    </div>
{% endblock %}

