<script type="text/javascript">
    function addGroup(group_id, name){
        var tmplMarkup = $('#group-template').html();
        var compiledTmpl = _.template(tmplMarkup, { id : group_id, name: name });
        $('#groups').append(compiledTmpl);
        return false;
    }

    function updateGroup(group_id, name){
        var tmplMarkup = $('#group-template').html();
        var compiledTmpl = _.template(tmplMarkup, { id : group_id, name: name });
        $('#group-'+group_id).replaceWith(compiledTmpl);
        return false;
    }

    function deleteGroup(id)
    {
        if(confirm('Do you really want to delete this group?'))
        {
            var data = { 'id': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
            var args = { type: "POST", url: "/gbdb/group/"+id+"/delete/", data: data, complete: doneDeleteGroup };
            $.ajax(args)
            return false;
        }
        return false;
    }

    function doneDeleteGroup(res, status)
    {
        var txt = res.responseText;
        if (status=="success")
        {
            var data = eval('('+txt+')');
            document.getElementById('group-'+data.id).style.display='none';
        }
        else
            alert(txt);
    }
</script>
<div id="groupDiv" >
    {% load gbdb_extras %}
    <table class="tab_panel">
        <tr class="table_header">
            <td colspan=7>
                <a href="/gbdb/group/new/" onclick="return showPopup('add_group',700,550,'/gbdb/group/new/');">Add new</a>
            </td>
        </tr>
        <tr class="col_header">
            <td style="width:100px">&nbsp;</td>
            <td>Name</td>
        </tr>
        <tr>
            <td colspan=2>
                <div id="groups">
                    {% for group in groups %}
                        <div id="group-{{ group.id }}">
                             <table class="tab_panel">
                                 <tr class="{%cycle 'odd_row' 'even_row'%}" valign=top>
                                     <td style="width:100px">
                                     	{% if user_admin_permissions|lookup:group %}
                                         <a href="/gbdb/group/{{ group.id }}/edit/" onclick="return showPopup('edit_group_{{ group.id }}', 700, 550, '/gbdb/group/{{ group.id }}/edit/');">Edit</a>&nbsp;&nbsp;
                                         <a href="" onclick="return deleteGroup('{{ group.id }}')">Delete</a>
                                         {% endif %}
                                     </td>
                                     <td>
                                         <a href="/gbdb/group/{{ group.id }}/" onclick="return showPopup('view_group_{{ group.id }}', 700, 550, '/gbdb/group/{{ group.id }}/');">{{ group.name }}</a>
                                     </td>
                                 </tr>
                             </table>
                         </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="group-template">
    <div id="group-<%= id %>">
        <table class="tab_panel">
            <tr class="even_row" valign=top>
                <td style="width:100px">
                    <a href="/gbdb/group/<%= id %>/edit/" onclick="return showPopup('edit_group_<%= id %>', 700, 550, '/gbdb/group/<%= id %>/edit/');">Edit</a>&nbsp;&nbsp;
                    <a href="" onclick="return deleteGroup('<%= id %>')">Delete</a>
                </td>
                <td>
                    <a href="/gbdb/group/<%= id %>/" onclick="return showPopup('view_group_<%= id %>', 700, 550, '/gbdb/group/<%= id %>/');"><%= name %></a>
                </td>
            </tr>
        </table>
    </div>
</script>