{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>GBDB - {% if form.instance.id%}Edit{% else %}Add{% endif %} gesture</title>
    <script type="text/javascript">
    
    </script>
{% endblock %}
{% block content %}
    <div id="detail">
        <h2>{% if form.instance.id %}Edit{% else %}Add{% endif %} gesture</h2>
        <form id="gestureForm" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="tab_panel">
                <tr valign=top>
                    <td width=12%>{{ form.name.label_tag }}</td>
                    <td>{{ form.name }}</td>
                    <td class="myerrors" width=10%>{{ form.name.errors }}</td>
                </tr>
                <tr valign=top>
                    <td>{{ form.description.label_tag }}</td>
                    <td>{{ form.description }}</td>
                    <td class="myerrors" width=10%>{{ form.description.errors }}</td>
                </tr>
                <tr valign=top>
                    <td>{{ form.goal.label_tag }}</td>
                    <td>{{ form.goal }}</td>
                    <td class="myerrors">{{ form.goal.errors }}</td>
                </tr>
                <tr valign=top>
                    <td valign=top>{{ form.signaller_body_parts.label_tag }}</td>
                    <td>{{ form.signaller_body_parts }}</td>
                    <td class="myerrors">{{ form.signaller_body_parts.errors }}</td>
                </tr>
                <tr valign=top>
                    <td valign=top>{{ form.recipient_body_parts.label_tag }}</td>
                    <td>{{ form.recipient_body_parts }}</td>
                    <td class="myerrors">{{ form.recipient_body_parts.errors }}</td>
                </tr>
                </tr>
                <tr valign=top>
                    <td valign=top>{{ form.audible.label_tag }}</td>
                    <td>{{ form.audible }}</td>
                    <td class="myerrors">{{ form.audible.errors }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="myerrors">
                            {{ form.non_field_errors }}
                        </div>
                    </td>
                </tr>
            </table>
            
            <input type="submit" value="Save" />&nbsp;
            {% if form.instance.id %}
                <input type="button" value="Cancel" onclick="document.location.href='/gbdb/gesture/{{ form.instance.id }}/';"/>&nbsp;
            {% endif %}
        </form>
    </div>
    
{% endblock %}
