{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>GBDB</title>
{% endblock %}
{% block content %}
	<div id="list">
    	<h4>Welcome to the Gesture and Behavior DataBase (GBDB)</h4>
    </div>
    
    <div id="list">

<h4>Announcement:</h4>

For those new to <span><h4 style="display: inline;">GBDB – the Gesture and Behavior Database</h4></span> -- please read our  <a href="{{ MEDIA_URL }}GBDB_cover_letter.pdf" target='blank'>document</a>  for an introduction to GBDB, including links to two videos.
 

The document has two further purposes:

 <ul>
  <li>To invite you to enter data in GBDB.</li>
  <li>To seek a new home for GBDB, effective by September of 2016. </li>
</ul> 

In any case, please forward the <a href="{{ MEDIA_URL }}GBDB_cover_letter.pdf" target='blank'>document</a> to any and all colleagues, news groups, forums, etc, who have an interest in primate gesture and behavior.

</div>
{% endblock %}