{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>GBDB</title>
{% endblock %}
{% block content %}
    <h4>Welcome to the Gesture and Behavior DataBase (GBDB)</h4>

    <ul>
        <li>Observation Sessions</li>
        <ul>
            {% if user.is_authenticated and not user.is_anonymous %}
                <li><a href="/gbdb/observation_session/new/">Insert</a></li>
            {% endif %}
            <li><a href="/gbdb/observation_session/search/">Search</a></li>
        </ul>
        <li>Behavioral Events</li>
        <ul>
            <li><a href="/gbdb/behavioral_event/search/">Search</a></li>
        </ul>
        <li>Primates</li>
        {% if user.is_authenticated and not user.is_anonymous %}
            <ul>
                <li><a href="/gbdb/primate/new/">Insert</a></li>
            </ul>
        {% endif %}
        <li>Gestures</li>
        {% if user.is_authenticated and not user.is_anonymous %}
            <ul>
                <li><a href="/gbdb/gesture/new/">Insert</a></li>
            </ul>
        {% endif %}
    </ul>
{% endblock %}