{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>GBDB - View Behavioral {% if object.parent %}Sub-{% endif %}Event</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">

        {% if ispopup %}
            opener.addBehavioralEvent({{ object.id }}, {% if object.start_time %}'{{ object.start_time.hour }}:{{ object.start_time.minute }}:{{ object.start_time.second }}.{{ object.start_time.microsecond }}'{% else %}''{% endif %}, {% if object.duration %}'{{ object.duration.hour }}:{{ object.duration.minute }}:{{ object.duration.second }}.{{ object.duration.microsecond }}'{% else %}''{% endif %},'{{ object.video.name }}', '{% for primate in object.primates.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ primate }}{% endfor %}', '{% for context in object.contexts.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ context.name }}{% endfor %}', '{% for ethogram in object.ethograms.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ ethogram.name }}{% endfor %}', '{{ object.notes }}');
            self.close()
        {% endif %}

        function deleteBehavioralEvent()
        {
            if(confirm('This will delete this Behavioral Event as well as all links to it from other entries. Do you really want to delete the current Behavioral Event?'))
            {
                var data={'csrfmiddlewaretoken': '{{ csrf_token }}'};
                var args={type:"POST", url:"/gbdb/behavioral_event/{{ object.id }}/delete/", data: data, complete: doneDelete };
                $.ajax(args);
            }
        }

        function doneDelete()
        {
            {% if not object.parent %}
                document.location.href='/gbdb/observation_session/{{ object.observation_session.id }}/';
            {% else %}
                document.location.href='/gbdb/behavioral_event/{{ object.parent.id }}/';
            {% endif %}
        }

        function initialize() {
            var map = new google.maps.Map(
                    document.getElementById('map-canvas'), {
                        center: new google.maps.LatLng({{ object.observation_session.location.latitude }}, {{ object.observation_session.location.longitude }}),
                        zoom: 13,
                        mapTypeId: google.maps.MapTypeId.HYBRID
                    });

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ object.observation_session.location.latitude }}, {{ object.observation_session.location.longitude }}),
                map: map,
                title: '{{ object.observation_session.location_name }}'
            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}
{% block content %}
<div id="detail">
    <h2>Behavioral {% if object.parent %}Sub-{% endif %}Event</h2>
    <table class="tab_panel">
        <tr valign="top">
            <td colspan="2">{% if object.parent %}<strong><a href="/gbdb/behavioral_event/{{ object.parent.id }}/">Parent behavioral event</a></strong>{% else %}<strong><a href="/gbdb/observation_session/{{ object.observation_session.id }}/">Observation session</a></strong>{% endif %}</td>
        	{% if video_url_mp4 %}
	        	<td>&nbsp;&nbsp;&nbsp;</td>
	            <td colspan="2" rowspan="7">
	                <video width="450" height="300" controls>
	                    <source src="{{ video_url_mp4 }}" type="video/mp4">
	                </video>
	            </td>
            {% endif %}
        </tr>
        {% if not object.video.name %}
            <tr valign="top">
                <td colspan="2"><strong>Start time:</strong> {{ object.start_time.hour }}:{{ object.start_time.minute }}:{{ object.start_time.second }}.{{ object.start_time.microsecond }}</td>
            </tr>
            <tr valign="top">
                <td colspan="2"><strong>Duration:</strong> {{ object.duration.hour }}:{{ object.duration.minute }}:{{ object.duration.second }}.{{ object.duration.microsecond }}</td>
            </tr>
        {% endif %}
        <tr valign="top">
            <td colspan="2"><strong>Location:</strong> {{ object.observation_session.location_name }}</td>
        </tr>
        <tr valign="top">
            <td colspan="2">
                <div id="map-canvas" style="height:200px"></div>
            </td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Primates:</strong> {% for primate in object.primates.all %}{% if forloop.counter0 > 0%}, {% endif %}<a href="/gbdb/primate/{{ primate.id }}/">{{ primate }}</a>{% endfor %}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Contexts:</strong> {% for context in object.contexts.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ context.name }}{% endfor %}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Ethograms:</strong> {% for ethogram in object.ethograms.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ ethogram.name }}{% endfor %}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Notes:</strong> {{ object.notes }}</td>
        </tr>
    </table>
    {% if not object.parent %}
        <br>
        <h3>Behavioral Sub-Events</h3>
        <div id="sub_behavioral_events">
            {% for sub_behavioral_event in sub_behavioral_events %}
                <div id="sub_behavioral_event-{{ forloop.counter }}" name="sub_behavioral_event">
                    <table class="tab_panel">
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong><a href="/gbdb/behavioral_event/{{ sub_behavioral_event.id }}/">Event {{ forloop.counter }}</a></strong></td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Start time:</strong> {{ sub_behavioral_event.start_time.hour }}:{{ sub_behavioral_event.start_time.minute }}:{{ sub_behavioral_event.start_time.second }}.{{ sub_behavioral_event.start_time.microsecond }}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Duration:</strong> {{ sub_behavioral_event.duration.hour }}:{{ sub_behavioral_event.duration.minute }}:{{ sub_behavioral_event.duration.second }}.{{ sub_behavioral_event.duration.microsecond }}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Primates:</strong> {% for primate in sub_behavioral_event.primates.all %}{% if forloop.counter0 > 0%}, {% endif %}<a href="/gbdb/primate/{{ primate.id }}/">{{ primate }}</a>{% endfor %}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Contexts:</strong> {% for context in sub_behavioral_event.contexts.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ context.name }}{% endfor %}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Ethograms:</strong> {% for ethogram in sub_behavioral_event.ethograms.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ ethogram.name }}{% endfor %}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Notes:</strong> {{ sub_behavioral_event.notes }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
        <br>
        <h3>Gestural Sub-Events</h3>
        <div id="sub_gestural_events">
            {% for sub_gestural_event in sub_gestural_events %}
                <div id="sub_gestural_event-{{ forloop.counter }}" name="sub_gestural_event">
                    <table class="tab_panel">
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong><a href="/gbdb/gestural_event/{{ sub_gestural_event.id }}/">Event {{ forloop.counter }}</a></strong></td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Start time:</strong> {{ sub_gestural_event.start_time.hour }}:{{ sub_gestural_event.start_time.minute }}:{{ sub_gestural_event.start_time.second }}.{{ sub_gestural_event.start_time.microsecond }}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Duration:</strong> {{ sub_gestural_event.duration.hour }}:{{ sub_gestural_event.duration.minute }}:{{ sub_gestural_event.duration.second }}.{{ sub_gestural_event.duration.microsecond }}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Contexts:</strong> {% for context in sub_gestural_event.contexts.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ context.name }}{% endfor %}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Ethograms:</strong> {% for ethogram in sub_gestural_event.ethograms.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ ethogram.name }}{% endfor %}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Signaller</strong> <a href="/gbdb/primate/{{ sug_gestural_event.signaller.id }}/">{{ sub_gestural_event.signaller }}</a></td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Recipient</strong> <a href="/gbdb/primate/{{ sug_gestural_event.recipient.id }}/">{{ sub_gestural_event.recipient }}</a></td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Gesture</strong> <a href="/gbdb/gesture/{{ sug_gestural_event.gesture.id }}/">{{ sub_gestural_event.gesture }}</a></td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Recipient response</strong> {{ sub_gestural_event.recipient_response }}</td>
                        </tr>
                        <tr>
                            <td><strong>Goal met</strong> {{ sub_gestural_event.goal_met }}</td>
                        </tr>
                        <tr class="{% cycle 'even_row' 'odd_row' %}">
                            <td><strong>Notes:</strong> {{ sub_gestural_event.notes }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if user == object.observation_session.collator %}
        <input type="button" value="Edit" onclick="document.location.href='/gbdb/behavioral_event/{{object.id}}/edit/';"/>&nbsp;
        <input type="button" value="Delete" onclick="deleteBehavioralEvent()"/>&nbsp;
    {% endif %}
</div>
{% endblock %}
