{% extends "base_generic.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>GBDB - View Behavioral {% if object.parent %}Sub-{% endif %}Event</title>
    <script type="text/javascript">

        {% if ispopup %}
            opener.addBehavioralEvent({{ object.id }}, '{{ object.start_time.hour }}:{{ object.start_time.minute }}:{{ object.start_time.second }}', {{ object.duration }}, '{{ object.video }}', '{% for context in object.contexts.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ context.name }}{% endfor %}', '{% for ethogram in object.ethograms.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ ethogram.name }}{% endfor %}', '{{ object.notes }}');
            self.close()
        {% endif %}

        function deleteBehavioralEvent()
        {
            if(confirm('This will delete this Behavioral Event as well as all links to it from other entries. Do you really want to delete the current Behavioral Event?'))
            {
                var data={'csrfmiddlewaretoken': '{{ csrf_token }}'};
                var args={type:"POST", url:"/gbdb/behavioral_event/{{ object.id }}/delete/", data: data, complete: doneDelete };
                $.ajax(args);
            }
        }

        function doneDelete()
        {
            document.location.href='/gbdb/';
        }

    </script>
{% endblock %}
{% block content %}
<div id="detail">
    <h2>Behavioral {% if object.parent %}Sub-{% endif %}Event</h2>
    <table class="tab_panel">
        {% if not object.parent %}
            <tr valign="top">
                <td colspan="2"><strong>Video:</strong> {{ object.video }}</td>
            </tr>
        {% endif %}
        <tr valign="top">
            <td colspan="2"><strong>Start time:</strong> {{ object.start_time.hour }}:{{ object.start_time.minute }}:{{ object.start_time.second }}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Duration:</strong> {{ object.duration }}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Contexts:</strong> {% for context in object.contexts.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ context.name }}{% endfor %}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Ethograms:</strong> {% for ethogram in object.ethograms.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ ethogram.name }}{% endfor %}</td>
        </tr>
        <tr valign="top">
            <td colspan="2"><strong>Notes:</strong> {{ object.notes }}</td>
        </tr>
    </table>
    {% if not object.parent %}
        <br>
        <h3>Behavioral Sub-Events</h3>
        <div id="sub_behavioral_events">
            {% for sub_behavioral_event in sub_behavioral_events %}
                <div id="sub_behavioral_event-{{ forloop.counter }}" name="sub_behavioral_event">
                    <table class="tab_panel">
                        <tr>
                            <td><strong><a href="/gbdb/behavioral_event/{{ sub_behavioral_event.id }}/">Event {{ forloop.counter }}</a></strong></td>
                        </tr>
                        <tr>
                            <td><strong>Start time:</strong> {{ sub_behavioral_event.start_time }}</td>
                        </tr>
                        <tr>
                            <td><strong>Duration:</strong> {{ sub_behavioral_event.duration }}</td>
                        </tr>
                        <tr>
                            <td><strong>Contexts:</strong> {% for context in sub_behavioral_event.contexts.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ context.name }}{% endfor %}</td>
                        </tr>
                        <tr>
                            <td><strong>Ethograms:</strong> {% for ethogram in sub_behavioral_event.ethograms.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ ethogram.name }}{% endfor %}</td>
                        </tr>
                        <tr>
                            <td><strong>Notes:</strong> {{ sub_behavioral_event.notes }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
        <br>
        <h3>Gestural Sub-Events</h3>
        <div id="sub_gestural_events">
            {% for sub_gestural_event in sub_gestural_events %}
                <div id="sub_gestural_event-{{ forloop.counter }}" name="sub_gestural_event">
                    <table class="tab_panel">
                        <tr>
                            <td><strong><a href="/gbdb/gestural_event/{{ sub_gestural_event.id }}/">Event {{ forloop.counter }}</a></strong></td>
                        </tr>
                        <tr>
                            <td><strong>Start time:</strong> {{ sub_gestural_event.start_time }}</td>
                        </tr>
                        <tr>
                            <td><strong>Duration:</strong> {{ sub_gestural_event.duration }}</td>
                        </tr>
                        <tr>
                            <td><strong>Contexts:</strong> {% for context in sub_gestural_event.contexts.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ context.name }}{% endfor %}</td>
                        </tr>
                        <tr>
                            <td><strong>Ethograms:</strong> {% for ethogram in sub_gestural_event.ethograms.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{ ethogram.name }}{% endfor %}</td>
                        </tr>
                        <tr>
                            <td><strong>Signaller</strong> {{ sub_gestural_event.signaller }}</td>
                        </tr>
                        <tr>
                            <td><strong>Recipient</strong> {{ sub_gestural_event.recipient }}</td>
                        </tr>
                        <tr>
                            <td><strong>Gesture</strong> {{ sub_gestural_event.gesture }}</td>
                        </tr>
                        <tr>
                            <td><strong>Recipient response</strong> {{ sub_gestural_event.recipient_response }}</td>
                        </tr>
                        <tr>
                            <td><strong>Goal met</strong> {{ sub_gestural_event.goal_met }}</td>
                        </tr>
                        <tr>
                            <td><strong>Notes:</strong> {{ sub_gestural_event.notes }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if user == object.observation_session.collator %}
        <input type="button" value="Edit" onclick="document.location.href='/gbdb/behavioral_event/{{object.id}}/edit/';"/>&nbsp;
        <input type="button" value="Delete" onclick="deleteBehavioralEvent()"/>&nbsp;
    {% endif %}
</div>
{% endblock %}
