{% load staticfiles %}
{% block extrahead %}
    <title>GBDB - {% if form.instance.id%}Edit{% else %}Add{% endif %} Behavioral {% if form.parent.value %}Sub-{% endif %}Event</title>
    <script type="text/javascript">
        function addPrimate(primateID, primateName, targetElem)
        {
            var primateElem=document.createElement('option');
            primateElem.value=primateID;
            primateElem.innerHTML=primateName;
            primateElem.selected='selected';
            var selectElem=document.getElementById(targetElem);
            selectElem.appendChild(primateElem);
        }

        function updateBehavioralEventOptions(sedType)
        {
            if(sedType=='gestural')
            {
                document.getElementById('gestural_fields').style.display='inline';
                document.getElementById('generic_fields').style.display='none';
            }
            else
            {
                document.getElementById('gestural_fields').style.display='none'
                document.getElementById('generic_fields').style.display='inline';
            }
        }

        function setGesture(gestureID, gestureName)
        {
            var gestureElem=document.createElement('option');
            gestureElem.value=gestureID;
            gestureElem.innerHTML=gestureName;
            gestureElem.selected='selected';
            var selectElem=document.getElementById('id_gesture');
            selectElem.appendChild(gestureElem);
            for(var i=0; i < selectElem.options.length; i++)
            {
                if(selectElem.options[i].value === gestureID) {
                    selectElem.selectedIndex = i;
                    break;
                }
            }
        }

        $(document).ready(function(){
            updateBehavioralEventOptions('{{ form.type.value }}');
        })
    </script>
{% endblock %}
{% block content %}
    <div id="detail">
        <h2>{% if form.instance.id %}Edit{% else %}Add{% endif %} Behavioral {% if form.parent.value %}Sub-{% endif %}Event</h2>
        <form id="behavioralEventForm" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="tab_panel">
                {% if form.parent.value %}
                    <tr valign=top>
                        <td width=12%>{{ form.type.label_tag }}*</td>
                        <td>{{ form.type }}</td>
                        <td class="myerrors" width=10%><div id="id_type_errors" class="error_label">{{ form.type.errors }}</div></td>
                    </tr>
                {% else %}
                    <input type="hidden" id="id_type" name="type" value="generic"/>
                {% endif %}
                {{ form.start_time }}
                {{ form.duration }}
                {% if not allow_video %}
                    <tr valign=top>
                        <td width=12%>{{ form.start_time.label_tag }}*</td>
                        <td><div id="id_start_time_label">{% if form.start_time.value %}{{ form.start_time.value }} seconds{% endif %}</div></td>
                        <td class="myerrors" width=10%><div id="id_start_time_errors" class="error_label">{{ form.start_time.errors }}</div></td>
                    </tr>
                    <tr valign=top>
                        <td>{{ form.duration.label_tag }}*</td>
                        <td><div id="id_duration_label">{% if form.duration.value %}{{ form.duration.value }} seconds{% endif %}</div></td>
                        <td class="myerrors"><div id="id_duration_errors" class="error_label">{{ form.duration.errors }}</div></td>
                    </tr>
                {% else %}
                    <tr valign=top>
                        <td width=12%>{{ form.video.label_tag }}*</td>
                        <td>
                            {{ form.video }}
                            <input type="hidden" id="id_start_time" name="start_time" value="0">
                            <input type="hidden" id="id_duration" name="duration" value="0">
                        </td>
                        <td class="myerrors"><div id="id_video_errors" class="error_label">{{ form.video.errors }}</div></td>
                    </tr>
                {% endif %}
                <tr valign=top>
                    <td colspan="3">
                        <div id="generic_fields" style="display: inline;">
                            <table class="tab_panel">
                                <tr valign=top>
                                    <td valign=top width="12%">{{ form.primates.label_tag }}</td>
                                    <td>{{ form.primates }} <input class="btn" type="button" value="Add Primate" onclick="return showPopup('Add Primate',1000,700,'/gbdb/primate/new/?target=id_primates');"/></td>
                                    <td class="myerrors"><div id="id_primates_errors" class="error_label">{{ form.primates.errors }}</div></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr valign=top>
                    <td valign=top>{{ form.contexts.label_tag }}*</td>
                    <td>{{ form.contexts }}</td>
                    <td class="myerrors"><div id="id_contexts_errors" class="error_label">{{ form.contexts.errors }}</div></td>
                </tr>
                <tr valign=top>
                    <td valign=top>{{ form.ethograms.label_tag }}*</td>
                    <td>{{ form.ethograms }}</td>
                    <td class="myerrors"><div id="id_ethograms_errors" class="error_label">{{ form.ethograms.errors }}</div></td>
                </tr>
                <tr valign=top>
                    <td colspan="3">
                        <div id="gestural_fields" style="display: none;">
                            <table class="tab_panel">
                                <tr valign=top>
                                    <td width="12%">{{ form.signaller.label_tag }}*</td>
                                    <td>{{ form.signaller }} <input class="btn" type="button" value="Add Primate" onclick="return showPopup('Add Primate',1000,700,'/gbdb/primate/new/?target=id_signaller');"/></td>
                                    <td class="myerrors"><div id="id_signaller_errors" class="error_label">{{ form.signaller.errors }}</div></td>
                                </tr>
                                <tr valign=top>
                                    <td>{{ form.recipient.label_tag }}*</td>
                                    <td>{{ form.recipient }} <input class="btn" type="button" value="Add Primate" onclick="return showPopup('Add Primate',1000,700,'/gbdb/primate/new/?target=id_recipient');"/></td>
                                    <td class="myerrors"><div id="id_recipient_errors" class="error_label">{{ form.recipient.errors }}</div></td>
                                </tr>
                                <tr valign=top>
                                    <td>{{ form.gesture.label_tag }}*</td>
                                    <td>{{ form.gesture }} <input class="btn" type="button" onclick="return showPopup('Add Gesture',1000,500,'/gbdb/gesture/new/');" value="Add Gesture"></td>
                                    <td class="myerrors"><div id="id_gesture_errors" class="error_label">{{ form.gesture.errors }}</div></td>
                                </tr>
                                <tr valign=top>
                                    <td>{{ form.recipient_response.label_tag }}*</td>
                                    <td>{{ form.recipient_response }}</td>
                                    <td class="myerrors"><div id="id_recipient_response_errors" class="error_label">{{ form.recipient_response.errors }}</div></td>
                                </tr>
                                <tr valign=top>
                                    <td>{{ form.goal_met.label_tag }}*</td>
                                    <td>{{ form.goal_met }}</td>
                                    <td class="myerrors"><div id="id_goal_met_errors" class="error_label">{{ form.goal_met.errors }}</div></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr valign=top>
                    <td valign=top>{{ form.notes.label_tag }}</td>
                    <td>{{ form.notes }}</td>
                    <td class="myerrors"><div id="id_notes_errors" class="error_label">{{ form.notes.errors }}</div></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="myerrors">
                            {{ form.errors }}
                            {{ form.non_field_errors }}
                        </div>
                    </td>
                </tr>
            </table>
            {{ form.observation_session }}
            {{ form.parent }}
            {{ form.collator }}
            {% if form.instance.id %}
            	<input class="btn" type="button" value="Save" onclick="{% if form.parent.value %}submitBehavioralSubEventForm('/gbdb/behavioral_event/{{ object.id }}/edit/');{% else %}submitBehavioralEventForm('/gbdb/behavioral_event/{{ object.id }}/edit/');{% endif %}"/>&nbsp;
                <input class="btn" type="button" value="Cancel" onclick="document.getElementById('context_data').innerHTML='';"/>&nbsp;
            {% else %}
            	<input class="btn" type="button" value="Save" onclick="{% if form.parent.value %}submitBehavioralSubEventForm('/gbdb/behavioral_event/new/?observation_session={{ form.initial.observation_session.id }}');{% else %}submitBehavioralEventForm('/gbdb/behavioral_event/new/?observation_session={{ form.initial.observation_session.id }}');{% endif %}"/>&nbsp;
            {% endif %}
        </form>
    </div>
{% endblock %}